@font-face {
    font-family: 'Karla';
    src: url('Karla-Bold.woff') format('woff'),
        url('Karla-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('Karla-Regular.woff') format('woff'),
        url('Karla-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

